<head>
	<style>
		img {
			width: 20%;
		}
	</style>
</head>
{% extends 'basic/base.html' %}
{% load static %}
{% block title %}关于本站 | 存在与虚无{% endblock title%}
{% block main-body %}
	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1 class="page-title">关于本站</h1>
					<article class="post">
						<p style="color:red;font-size:20px">海德格尔：人是被遗忘在这个世界上的，我们无时无刻不处于“存在的遗忘”之中。人何以为人的本质也是被遗忘的。"</p>
						<p style="color:red;font-size:20px">萨特：我们虽然自由，能做出各种选择和判断，但却用于无法逃脱存在的纠缠和时间的绵延。</p>
						<p>《存在与虚无》</p>
						<p>这本书是哲学家萨特的经典著作</p>
						<p>存在是先于一切规定的无规定</p>
						<p>存在就是这个，除此之外，它什么也不是</p>
						<p>存在是其所是</p>
						<p>胡塞尔曾指出，一切意识都是对某物的意识</p>
						<p>要有快乐的本质，应该首先有这个快乐意识这个事实</p>
						<p>为了有毁灭，首先需要有人和存在的关系，即一种超越性</p>
						<p>人是能动的，而人使用的手段则是被动的</p>
					</article>
				</main>
			</div>
		</div>
	</div>
{% endblock main-body %}
